
{#{% extends 'SonataAdminBundle::standard_layout.html.twig' %}#}
{% extends base_template %}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}

{% endblock %}


{% block actions %}
    <li>
        {% if app.request.get('persist') == true %}
            <a class="sonata-action-element" href="{{ admin.generateUrl('list', {'persist' : 0 }) }}" style="background-color: orangered; color: #ddd">
                <i class="fa fa-save"></i>
                Persisting
            </a>
        {% else %}
            <a class="sonata-action-element" href="{{ admin.generateUrl('list', {'persist' : 1 }) }}"  style="background-color: greenyellow">
                <i class="fa fa-edit"></i>
                Testing
            </a>
        {% endif %}
    </li>
{% endblock %}


{#{% block sonata_admin_content %}#}
{% block content %}
    {#
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
    #}
    {#{{dump(app.session.flashbag)}}#}
    {% if action == 'home' %}
        <div id="app">
            <h2>
                wp migration home
            </h2>
            {{connection.database}} at {{connection.host}}
            <hr>

        </div>

    {% endif %}
    {% if dump is defined %}
        {{dump(dump)}}
    {% endif %}
{% endblock %}


