
{% extends 'NzWpMigrationBundle:CRUD:home.html.twig' %}


{% block sonata_admin_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% if dump is not empty%}
                    {{dump(dump)}}
                {% endif %}
            </div>
            <div class="col-lg-6">
                <div class="box box-primary" >
                    <div class="box-body table-responsive no-padding">
                        <h2>Post types: {{types|length}}, system: {{system_types|length}}</h2>
                        <table class="table table-condensed table-responsive table-striped ">
                            <thead>
                                <tr> 
                                    <th>#</th>
                                    <th>Types</th>
                                    <th>M</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for posttype in types %}
                                    <tr> 
                                        <th>{{ loop.index }}</th>
                                        <td>{{ posttype.type }}</td>
                                        <th><a title="migrate" href="{{admin.generateUrl('post-types', {'type' : posttype.type })}}"><i class="fa fa-object-group"></i></a></th>
                                    </tr>
                                    {#{% set lastLoop = loop.index %}#}
                                {% endfor %}
                                <tr class="info"> 
                                    <th>#</th>
                                    <th>System</th>
                                </tr>
                                {% for posttype in system_types %}
                                    <tr class="danger"> 
                                        <th>{{ loop.index  }}</th>
                                        <td>{{ posttype }}</td>
                                        <td>n/a</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box box-primary" >
                    <div class="box-body table-responsive no-padding">
                        <h2>Metas {{metas|length}}, not like: {{not_like|length}}, not in: {{not_in|length}} </h2>
                        <table class="table table-condensed table-responsive table-striped">
                            <thead>
                                <tr> 
                                    <th>#</th>
                                    <th>Metas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for meta in metas %}
                                    <tr> 
                                        <th>{{ loop.index }}</th>
                                        <td>{{ meta.key}}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="info"> 
                                    <th>#</th>
                                    <th>Not Like</th>
                                </tr>
                                {% for meta in not_like %}
                                    <tr class="warning"> 
                                        <th>{{ loop.index  }}</th>
                                        <td>{{ meta }}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="info"> 
                                    <th>#</th>
                                    <th>Not In</th>
                                </tr>
                                {% for meta in not_in %}
                                    <tr class="danger"> 
                                        <th>{{ loop.index  }}</th>
                                        <td>{{ meta }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


