
{% extends 'NzMigrationBundle:CRUD:home.html.twig' %}


{% block sonata_admin_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary" >
                    <div class="box-body table-responsive no-padding">
                        <h2>Distinct Metas {{metas|length}}, not like: {{not_like|length}}, not in: {{not_in|length}} </h2>
                        <table class="table table-condensed table-responsive table-striped">
                            <thead>
                                <tr> 
                                    <th>#</th>
                                    <th>keys</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for meta in metas %}
                                    <tr> 
                                        <th>{{loop.index}}</th>
                                        <td>{{meta.key}}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="info"> 
                                    <th>#</th>
                                    <th>Not Like</th>
                                </tr>
                                {% for meta in not_like %}
                                    <tr class="warning"> 
                                        <th>{{ loop.index  }}</th>
                                        <td>{{ meta }}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="info"> 
                                    <th>#</th>
                                    <th>Not In</th>
                                </tr>
                                {% for meta in not_in %}
                                    <tr class="danger"> 
                                        <th>{{ loop.index  }}</th>
                                        <td>{{ meta }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


