
{% extends 'NzMigrationBundle:CRUD:list.html.twig' %}


{% block sonata_admin_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
            </div>
            <div class="col-lg-8">

                <div class="box box-primary" >
                    <div class="box-body table-responsive no-padding">

                        <h2>Users {{users|length}}</h2>
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr> 
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Slug</th>
                                    <th>E-mail</th>
                                    <th>Migrate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr> 
                                        <th>{{user.id}}</th>
                                        <th>{{user.username}}</th>
                                        <th>{{user.nicename}}</th>
                                        <th>{{user.email}}</th>
                                        <th><a title="migrate" href="{{admin.generateUrl('migrate-users', {'id' : user.id })}}"><i class="fa fa-exchange"></i></a></th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box-primary" >
                    <div class="box-body table-responsive no-padding">
                        <h2>Distinct Metas {{metas|length}}, not like: {{not_like|length}}, not in: {{not_in|length}} </h2>
                        <table class="table table-condensed table-responsive table-striped">
                            <thead>
                                <tr> 
                                    <th>#</th>
                                    <th>keys</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for meta in metas %}
                                    <tr> 
                                        <th>{{loop.index}}</th>
                                        <td>{{meta.key}}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="info"> 
                                    <th>#</th>
                                    <th>Not Like</th>
                                </tr>
                                {% for meta in not_like %}
                                    <tr class="warning"> 
                                        <th>{{ loop.index  }}</th>
                                        <td>{{ meta }}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="info"> 
                                    <th>#</th>
                                    <th>Not In</th>
                                </tr>
                                {% for meta in not_in %}
                                    <tr class="danger"> 
                                        <th>{{ loop.index  }}</th>
                                        <td>{{ meta }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


